h1 {
  margin-top: 20px;
  text-align: center;
}
h2 {
  padding: 0;
  margin-top: 20px;
  text-align: left;
}
body {
  background-color: #e0ebeb;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
ul {
  padding-left: 0cm;
  margin-bottom: 0;
}

.container {
  max-width: 900px;
  font-size: 18px;
}
.citySearchArea {
  border: 2px solid #a7bcb9;
  border-radius: 0.375rem;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}
.form-control {
  border: 1px solid #a7bcb9;
}
.btn {
  border: 1px solid #a7bcb9;
  width: 100%;
}
#cityCountry {
  text-align: left;
}
.dayWeatherArea {
  border: 2px solid #a7bcb9;
  border-radius: 00.375rem;
  padding: 20px;
  background-color: #fff;
}
.dateTime,
.weatherIndexes {
  line-height: 30px;
}
.dateTime {
  padding-inline-start: 0;
}

#currentTemperature {
  font-size: 80px;
  text-align: center;
}

#weatherDescription {
  text-transform: capitalize;
}
.celsius {
  font-size: 50px;
}
.weatherIndexes {
  text-align: right;
  padding: 0 12px;
}
.card {
  text-align: center;
  border: 2px solid #a7bcb9;
}

.list-group-item {
  border: none;
}
.dayOfWeek {
  font-weight: bold;
}
.maxT {
  font-weight: bolder;
}
.minT {
  color: grey;
}
